<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
    
</head>
<body>
    <div class="gallery">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/1.jpg"alt="sleep-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/2.jpg"alt="playful-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/3.jpg"alt="tiger-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/4.jpg"alt="bed-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/5.jpg"alt="white-kittent">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/6.jpg"alt="family-cats">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/7.jpg"alt="peeping-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/8.jpg"alt="ginger-cat">
        <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/9.jpg"alt="two-cats">
      </div>
</body>
</html>